.calm {
    background: #FCFCFC;
}


.calm__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 135%;
    text-align: center;
    text-transform: capitalize;
    color: #01070D;
    padding-top: 228px;
    padding-bottom: 15px;
}

.calm__discription {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: rgba(1, 7, 13, 0.7);
    padding-bottom: 60px;
}

.calm__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}

.card-calm {
    width: 362px;
    height: 537px;
    background: #FFFFFF;
    border: 1px solid #E6F2FC;
    border-radius: 10px;
}

.card-calm__student {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #01070D;
    text-align: center;
}

.card-calm__amet {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    text-align: center;
    color: rgba(1, 7, 13, 0.7);
    max-width: 181px;
    margin: 0 auto;
    padding-top: 15px;
}

.card-calm__price {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 39px;
    line-height: 135%;
    color: #01070D;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 20px;
}

.card-calm__switch {
    display: flex;
    max-width: 222px;
    height: 36px;
    justify-content: space-between;
    margin: 0 auto;
    background: #FAFAFA;
    border: 0.5px solid rgba(1, 7, 13, 0.05);
    border-radius: 18px;
    margin-bottom: 27px;
}

.card-calm__monthiy {
    width: 110px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 4px 2px 38px rgba(0, 0, 0, 0.02);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    color: #01070D;
}

.card-calm__annually{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    color: rgba(1, 7, 13, 0.4);
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.card-calm__checkbox {
    display: flex;
    justify-content: flex-start;
    max-width: 245px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.card-calm__checkbox-img {
    width: 22px;
    height: 22px;
    margin-right: 17px;
    background: #FFFFFF;
    border-radius: 11px;
}

.card-calm__checkbox-discription {
    max-width: 206px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
    opacity: 0.6;
}

.card-calm__btn {
    width: 208px;
    height: 43px;
    background: #1D92FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #66BFFB;
}

.card-calm__btn-help {
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.card-calm_pro-height {
    height: 613px;
    background: linear-gradient(180deg, #1D92FF 0%, #002648 0.01%, #002547 100%);
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-top: 50px;
}

.card-calm__student_pro {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-calm__amet_color {
    color: rgba(255, 255, 255, 0.7);
}

.card-calm__price_thrity {
    color: #FFFFFF;
}

.card-calm__switch_back {
    background: #193B5A;
    border: 1px solid #5E758A;
}

.card-calm__monthiy_blue {
    background: #1D92FF;
    color: #FFFFFF; 
    border: 1px solid #AEBAC4;
}

.card-calm__annually_dark-blue {
     color: #FFFFFF;
}

.card-calm__checkbox-discription_wht {
    color: #FFFFFF;
    opacity: 1;
}

.card-calm__btn_color {
    background: #FFFFFF;
    color: #1D92FF;
    border: #FFFFFF;
}

.dummy {
    background: #F0F6FC;
    width: 1250px;
    height: 219px;
    margin-top: 140px;
    right: 15px;
    position: relative;
    z-index: 999;
    margin: 0 auto;
}

.dummy__content {
    position: absolute;
    width: 1250px;
    height: 206px;
    background: url('./img/img-dummy/Mask\ Group.png') no-repeat, #002648;
    top: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dummy__content_lorem-contrary {
    padding-right: 200px;
    padding-left: 55px;
}

.dummy__content_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
}

.dummy__content_discription {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.9;
    
}


.dummy__content_e-mail {   
    width: 460px;
    height: 62px;
    left: 913px;
    top: 4736.05px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0.5;
    border-radius: 31px;
    background: transparent;
    border: 2px solid #597288
}

.dummy__content_title {
    padding-bottom: 25px;
}

.dummy__content_btn {
    width: 76px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 25px;
}

.footer {
    height: 376px;
    background: #070C11;
    opacity: 0.95;
}

